
@{
    ViewBag.Title = "AguardandoConfirmacao";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Informativo!</h2>
<p> Por favor, verifque a sua caixa de entrada para confirmar o seu E-mail<p/>

