
@{
    ViewBag.Title = "EmailAlteracaoSenhaEnviado";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<h2>E-mail enviado com Sucesso!</h2>
<p>Verifique a sua caixa de entrada e siga as instruções para alterar a sua senha.</p>

