@model List<TccUsjt2018.Database.Entities.Produto>
@{
    ViewBag.Title = "Produtos";
}

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Relatório de Produtos</strong>
                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Produto</th>
                                    <th>Categoria</th>
                                    <th>Validade</th>
                                    <th>Situacao</th>
                                </tr>
                            </thead>
                            <tbody>
                                @*@foreach(var produto in Model.ListaProdutoViewModel)
                                    {
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    }*@

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .animated -->
</div><!-- .content -->
