@model IEnumerable<TccUsjt2018.ViewModels.Relatório.RelatorioProdutoViewModel>
@{
    ViewBag.Title = "Consulta de Produto";
}

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Consulta de Produtos</strong>
                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Produto</th>
                                    <th>Categoria</th>
                                    <th>Marca</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var produto in Model)
                                {
                                <tr>
                                    <td>@Html.DisplayFor(model => produto.NomeProduto)</td>
                                    <td>@Html.DisplayFor(model => produto.NomeCategoria)</td>                               >
                                    <td>@Html.DisplayFor(model => produto.Marca)</td>
                                </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div><!-- .animated -->
</div><!-- .content -->

<script>

</script>