@model TccUsjt2018.ViewModels.Estoques.EstoqueViewModel
@{
    ViewBag.Title = "Cadastro Estoque";
}

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">@ViewBag.Title</strong>
                    </div>
                    <div class="card-body">
                        <!-- Credit Card -->
                        <div id="pay-invoice">
                            <div class="card-body">
                                @using (Html.BeginForm("Create", "Estoque"))
                                {
                                    <div class="form-group">
                                        @Html.LabelFor(X => X.Descricao)
                                        @Html.TextBoxFor(x => x.Descricao, new { @class = "form-control" })
                                    </div>
                                    <br />
                                    <br />
                                    <div class="form-group" style="display:inline-block">
                                        <button type="submit" class="btn btn-primary" id="idCadastrar" value="">Cadastrar</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div> <!-- .card -->
            </div>
        </div>
    </div>
</div>

