@using Microsoft.AspNet.Identity
<!-- Header-->
<header id="header" class="header">

    <div class="header-menu">

        <div class="col-sm-7">
            <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
            <div class="header-left">
            </div>
        </div>
        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("Logoff", "Conta", FormMethod.Post, new { id = "formulario_logoff" }))
            {
                <div class="col-sm-5">
                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <strong>Olá, @User.Identity.Name</strong>
                        </a>

                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" href="#"><i class="fa fa- user"></i>My Profile</a>

                            <a class="nav-link" href="javascript:document.getElementById('formulario_logoff').submit()"><i class="fa fa-power -off"></i>Logout</a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>

</header><!-- /header -->
<!-- Header-->