
<div class="modal fade" id="endereco-modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title pull-left">Escolha o filtro</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group form-group--float">
                        <input type="text" class="form-control" placeholder="Nome">
                    </div>
                </div>
                <div style="display: none;  margin-bottom: 2rem" id="errorlogradouro">
                    <small style="color: red;">Preencha o campo corretamente!</small>
                </div>
                <div class="row">
                    <div class="form-group form-group--float">
                        <input type="text" class="form-control" placeholder="Categoria">
                        @Html.EnumDropDownListFor(model => model.Tipo, "Categoria", new { @class = "form-control select2" })
                    </div>
                </div>
                <div style="display: none;  margin-bottom: 2rem" id="errornum">
                    <small style="color: red;">Preencha o campo corretamente!</small>
                </div>
                <div id="formgroupbairro" class="form-group form-group--float">
                    @if (Model.Endereco != null)
                    {
                        <input type="text" id="inputbairro" class="form-control form-control-lg" value="@Model.Endereco.Bairro">
                    }
                    else
                    {
                        <input type="text" id="inputbairro" class="form-control form-control-lg">
                    }
                    <label class="form-control-label">Bairro</label>
                    <i class="form-group__bar"></i>
                </div>
                <div style="display: none;  margin-bottom: 2rem" id="errorbairro">
                    <small style="color: red;">Preencha o campo corretamente!</small>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <div id="formgroupcidade" class="form-group form-group--float">
                            @if (Model.Endereco != null)
                            {
                                <input type="text" id="inputcidade" class="form-control form-control-lg" value="@Model.Endereco.Municipio">
                            }
                            else
                            {
                                <input type="text" id="inputcidade" class="form-control form-control-lg">
                            }
                            <label class="form-control-label">Cidade</label>
                            <i class="form-group__bar"></i>
                        </div>
                        <div style="display: none;  margin-bottom: 2rem" id="errorcidade">
                            <small style="color: red;">Preencha o campo corretamente!</small>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div id="formgroupestado" class="form-group form-group--float">
                            @if (Model.Endereco != null)
                            {
                                <input type="text" id="inputuf" class="form-control form-control-lg" maxlength="2" value="@Model.Endereco.Estado">
                            }
                            else
                            {
                                <input type="text" id="inputuf" class="form-control form-control-lg" maxlength="2">
                            }
                            <label class="form-control-label">UF</label>
                            <i class="form-group__bar"></i>
                        </div>
                        <div style="display: none;  margin-bottom: 2rem" id="errorestado">
                            <small style="color: red;">Preencha o campo corretamente!</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="cadastrar_endereco" class="btn btn-success">Salvar</button>
                <button type="button" class="btn btn-link" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
